@font-face {
    font-family: "idroid";
    src: url("./fontes/idroid.otf")format("opentype");
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #84E1AD;
}

header{
    background-image: linear-gradient(to bottom, #3BD680, #1A5C38);
    text-align: center;
    padding: 20px;
}

header h1{
    font-family: idroid, Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.377);
}

header h1, header p{
    margin: 20px;
    color: white;
}

nav{
    display: flex;
    margin: 0;
    background-color: #1A5C38;
    list-style: none;
    padding: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    background-color: #1A5C38;
    margin: 0 3px 0 0;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

nav a:hover{
    background-color: #3BD680;
    transition: 0.2s ease-in-out;
}

main{
    background-color: white;
    width: 750px;
    margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

main h1, h2{
    font-family: idroid, sans-serif;
    color: #1A5C38;
    padding: 5px;
}

main h2{
    background-image: linear-gradient(to right, #C5EBD6 , white);
}

main p{
    margin: 15px 0 15px 0 ;
    text-align: justify;
    text-indent: 35px;
}

main img{
    width: 100%;
}

#bugdroid-image{
    width: 250px;
    margin: auto;
}



section.video{
    background-color: #1A5C38;
    padding: 15px;
    display: flex;
}

section.video iframe{
    margin: auto;
    width: 100%;;
    
}

section.aprender-mais{
    background-color: #C5EBD6;
    margin: 25px 0;
    border-radius: 10px;
   
}

.aprender-mais h1{
    padding: 15px;
    color: white;
    border-radius: 10px 10px 0 0;
    background-color:#3BD680 ;
}

.aprender-mais article{
    padding: 25px;
}

.aprender-mais ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    list-style: none;
}

.aprender-mais li::before{
    content: "✔";
}

footer{
    background-color: #1A5C38;
    text-align: center;
    color: white;
    padding: 10px;
}